
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
    
body {
    font-family: 'Open Sans', sans-serif;
}



 #wrapper {
    width: 100%;
    /* margin-top:120px; */
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.user-image-back {
    background-color:#8B7BFF;
}
h5,.h5 {
    font-size: 14px;
font-weight: 900;
/* text-transform: uppercase; */
padding-bottom:20px;
}
/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-inverse .navbar-nav > li > a {
color: #fff;
font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
color: #fff;
}
.arrow {
    float: right;
}

.merah{
    border:2px solid red;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.Error{
    background: rgb(226, 176, 171);    
}

.Confirmation{
    background: rgb(215, 227, 191);    
}
.sidebar-collapse .nav > li > a {
background: rgb(226, 176, 171);
/* background: linear-gradient(0deg, rgb(153, 0, 0) 0%, rgba(255,255,255,1) 85%, rgb(153, 0, 0) 100%); */
text-shadow: none;
text-align:center;
font-weight:bold;
color:black;
}
.sidebar-collapse .nav > li > .active {
background: rgb(255, 242, 204);
/* background: linear-gradient(0deg, rgb(255, 255, 102) 0%, rgba(255,255,255,1) 85%, rgb(255, 255, 102) 100%); */
text-shadow: none;
font-weight:bold;
color:black;
}
.sidebar-collapse .nav > li > .done {
background: rgb(215, 227, 191);
/* background: linear-gradient(0deg, rgb(215, 227, 191) 0%, rgba(255,255,255,1) 85%, rgb(215, 227, 191) 100%); */
text-shadow: none;
font-weight:bold;
color:black;
}
.sidebar-collapse .nav > li > .ongoing {
background: yellow;
/* background: linear-gradient(0deg, rgb(215, 227, 191) 0%, rgba(255,255,255,1) 85%, rgb(215, 227, 191) 100%); */
text-shadow: none;
font-weight:bold;
color:black;
}
.sidebar-collapse .nav > li > .inactive {
background: #b1b1b1;
/* background: linear-gradient(0deg, rgb(215, 227, 191) 0%, rgba(255,255,255,1) 85%, rgb(215, 227, 191) 100%); */
text-shadow: none;
font-weight:bold;
color:black;
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
    background:#cb4c06;
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-bottom: 4px solid #f44336;
	outline:0;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-inverse {
background-color: #c28e05;
border-color: #D3D3D3;
}

.navbar-default {
border:0px solid #DDDDDD;
     
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
.navbar-inverse .navbar-brand  {
color: #000000;
font-size: 25px;
font-weight: 900;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
    color: #000000;
font-size: 25px;
font-weight: 900;
}
.navbar-inverse .navbar-toggle {
border-color: #8B7BFF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #8B7BFF;
}
.adjust-nav {
    padding-left:20px;padding-right:20px;
}
.navbar-toggle {
    background-color: #8B7BFF;
}

/*==============================================
    DASHBOARD STYLES     
    =============================================*/

.bg-color-blue {
background-color: #9A86EB;
color: #fff;
}

.no-boder {
border: 1px solid #f3f3f3;
}
.back-footer-blue {
background-color: #7479E6;
border-top: 0px solid #fff;
}

/*==============================================
    BOOTSTRAP STYLE CHANGES     
    =============================================*/
.nav-tabs > li > a {
     -webkit-border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
}

.panel-group .panel {
border-radius: 0px;
  -webkit-border-radius:  0px;
-moz-border-radius: 0px;
}
.panel {
    border-radius: 0px;
  -webkit-border-radius:  0px;
-moz-border-radius: 0px;
}
.panel-heading {
 border-top-left-radius: 0px; 
 border-top-right-radius: 0px; 
}
.btn {
     border-radius: 0px;
  -webkit-border-radius:  0px;
-moz-border-radius: 0px;
}
.progress {
     border-radius: 0px;
  -webkit-border-radius:  0px;
-moz-border-radius: 0px;
}


.header {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    top:0;
    height: 120px;
    background-color:#301949;
}

.blue{
    background-color:#0b4176;
}

.form-control{
  background-color:#fffbf1;
}

.white-font{
    color:white;
}

.white{
    background-color:white;
}

.tetap {
    position: relative;
    right: 0;
    left: 0;
    top:120;
      z-index: 1030;
}

.center{
    margin-left:35%;
}

.h1header{
    font-weight: bold;
    font-family: Arial;
    margin-top:40px;

}

.h6header{
    font-weight: bold;
    font-family: Arial;
    margin-top: 40px;
    font-size:21px;
}

.purple-header{
    background-color:#301949;
}

@media(max-width:768px){
    .h1header{
        display: none

}

}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}

   
}


